<footer>
    <!-- container -->
    <div class="container">
        <!-- string -->
        <div class="row">
            <!-- column -->
            <div class="col-md-3">
                <!-- logo block -->
                <div class="logo">
                    <div class="icon">
                        <div class="in"></div>
                    </div>
                    <div class="text">
                        <div class="b">Ukraine</div>
                        <div class="s">animals</div>
                    </div>
                </div>
                <!-- links to social networks -->
                <!--credit: https://www.w3.org/WAI/WCAG22/Techniques/css/C7 -->
                <ul class="social">
                    <li><a href="https://www.facebook.com"><i class="fa-brands fa-facebook-f"></i><span class="visually-hidden">Logo of a social network, Facebook</span></a></li>
                    <li><a href="https://twitter.com"><i class="fa-brands fa-twitter"></i><span class="visually-hidden">Logo of a social network, Twitter</span></a></li>
                    <li><a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i><span class="visually-hidden">Logo of a social network, Instagram</span></a></li>
                    <li><a href="https://www.linkedin.com"><i class="fa-brands fa-linkedin"></i><span class="visually-hidden">Logo of a social network, Linkedin</span></a></li>
                </ul>
                <!-- translator block -->
                <div id="google_translate_element"></div>

            </div>
            <!-- column -->
            <div class="col-md-3">
                <!-- wrapper -->
                <div class="w_wrap">
                    <!-- header -->
                    <div class="title">
                        Contact us
                    </div>
                    <!-- text -->
                    <div class="text">
                        000 Street name, <br> City Name, 00000, Ukraine <br> 000-000-0000
                    </div>
                </div>
            </div>
            <!-- column -->
            <div class="col-md-3">
                <!-- wrapper -->
                <div class="w_wrap">
                    <!-- header -->
                    <div class="title">
                        Useful links
                    </div>
                    <!-- links -->
                    <div class="text">
                        <ul>
                            <li> <a href="/gallery">Adopt</a></li>
                            <li> <a href="/useFunds">Use of Funds</a></li>
                            <li> <a href="/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- columns -->
            <div class="col-md-3">
                <!-- wrapper -->
                <div class="w_wrap w_wrap_last">
                    <!-- header -->
                    <div class="title">
                        Legal
                    </div>
                    <!-- links -->
                    <div class="text">
                        <ul>
                            <li>
                                <a href="/terms">Terms of use
								</a></li>
                            <li> <a href="/privacy">Privacy policy
								</a></li>
                            <li><a href="/documents">Documents</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="copyright">
    <!-- copyright -->
    <div class="text">
        Copyright © 2023 All rights reserved.
    </div>
</div>
<!-- js files -->
<script src="/libs/jquery/jquery-3.6.0.min.js" defer></script>
<script src="/libs/bootstrap/js/bootstrap.bundle.min.js" defer></script>
<script src="/libs/fancybox/fancybox.umd.js" defer></script>
<script src="/libs/swiper/swiper-bundle.min.js" defer></script>
<script src="/js/main.js" defer></script>

<!-- translator -->
<script>
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({
            pageLanguage: 'en'
        }, 'google_translate_element');
    }
</script>
<script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</body>

</html>