<!-- subtitle -->
<section class="sub_header">
    <!-- container -->
    <div class="container">
        <!-- header -->
        <h1>
            <%= title %>
        </h1>
        <!-- breadcrumbs -->
        <ul class="breadcrumbs">
            <li><a href="/index.html">Home</a> - </li>
            <li>
                <%= title %>
            </li>
        </ul>
    </div>
</section>