<%# insert the head section code that repeats on all pages %>
    <%- include('../inc/head') %>
        <%# insert header section code that repeats on all pages %>
            <%- include('../inc/header') -%>
                <%# insert the subheader section code that repeats on all pages %>
                    <%- include('../inc/subheader') -%>
                        <!-- section -->
                        <section class="sec_def sec_contact_c">
                            <!-- container -->
                            <div class="container">
                                <!-- row -->
                                <div class="row">
                                    <!-- column -->
                                    <div class="col-md-7">
                                        <!-- map wrapper -->
                                        <div class="map">
                                            <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCK5AN6_DZaM4yRZdqeUyxixWMgf-gpKvI&q=50.43932360587898, 30.518930398539062" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                        </div>
                                    </div>
                                    <!-- column -->
                                    <div class="col-md-5">
                                        <!-- wrapper -->
                                        <div class="contact_wrap">
                                            <!-- header -->
                                            <h3 class="title">
                                                Contact
                                            </h3>
                                            <!-- text -->
                                            <div class="one">
                                                <div class="b">Address</div>
                                                <div class="s">000 Street name, City Name, Ukraine 00000</div>
                                            </div>
                                            <!-- text -->
                                            <div class="one">
                                                <div class="b">Phone</div>
                                                <div class="s">000-000-0000</div>
                                            </div>
                                            <!-- texts with links -->
                                            <div class="one">
                                                <div class="b">Social Networks</div>
                                                <div class="s">
                                                    <ul class="social">
                                                        <li><a href="https://www.facebook.com"><i class="fa-brands fa-facebook-f"></i><span class="visually-hidden">Logo of a social network, Facebook</span></a></li>
                                                        <li><a href="https://twitter.com"><i class="fa-brands fa-twitter"></i><span class="visually-hidden">Logo of a social network, Twitter</span></a></li>
                                                        <li><a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i><span class="visually-hidden">Logo of a social network, Instagram</span></a></li>
                                                        <li><a href="https://www.linkedin.com"><i class="fa-brands fa-linkedin"></i><span class="visually-hidden">Logo of a social network, Linkedin</span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <%# insert footer section code that repeats on all pages %>
                            <%- include('../inc/footer') -%>